{% extends 'basic.html' %}
{% load static %}
{% block content%}
 <div class="container">
    {% for prod in products %}
    <div class="on-move-{{prod.id}}">
        <h4>Name: {{prod.name}}</h4>
        <p><strong>Price: {{prod.price}}</strong></p>
        <a class="remove-item"
        data-id='{{prod.id}}'
        href="#">XDeleteX
        </a>
        <hr>
    </div>
    {% endfor %}

</div>
<script>
    $('.remove-item').on('click',function(e){
        var removeId=$(this).attr('data-id');
        console.log(removeId);
        $(".on-move-"+ removeId).css('display','none')
    })

</script>
{% endblock %}


$(".on-move-"+ removeId).css('display','none')
